// .backgroundImg{
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }


// placeholder code ko biên dịch css chỉ thẻ nào kế thừa mới chứa code.
%backgroundImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}